.message{
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 8px;
    white-space: pre-wrap;
}
.mymsg{
    background-color: #cc2bc4;
    color:white;
    font-family: Candara Light;
}
.MsgBox{
    border-radius: 15px;
    border-style: solid;
    color: black;
    width: 100%;
    height: 50px;
    background: plum;
    font-family: Candara Light;
}

.msgButt{
    background: green;

}